/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background: #f3f3f3;
    display: flex;
}
/* ===== DASHBOARD HEADER (DATE) ===== */
.dashboard-header {
    display: flex;
    align-items: cfenter;
    gap: 15px;
    margin-bottom: 25px;
}

.dashboard-header span {
    background-color: #ffffff;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    color: #555;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.dashboard-header .day {
    font-weight: 600;
}


/* ===== HEADER / NAV ===== */
nav {
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    height: 60px;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

nav ul li a:hover {
    color: #5b8ea8;
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 240px;
    min-height: 100vh;
    background: #ffffff;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid #ddd;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.avatar {
    width: 45px;
    height: 45px;
    background: #d9d9d9;
    border-radius: 50%;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px 15px;
    border-radius: 8px;
    color: #555;
    cursor: pointer;
    margin-bottom: 8px;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #5b8ea8;
    color: #ffffff;
}

/* ===== MAIN CONTENT ===== */
main {
    margin-left: 240px;
    padding: 25px;
    width: calc(100% - 240px);
}
.text p{
    margin-bottom: 25px;
    font-size: 50px;
}

/* ===== CARD DASHBOARD ===== */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
}

.card h3 {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.card strong {
    font-size: 26px;
    color: #333;
}

/* ===== ACTIVITY SECTION ===== */
h2 {
    margin-bottom: 15px;
    color: #555;
}

/* ===== TABLE ===== */
table {
    width: 100%;
    background: #ffffff;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

thead {
    background: #5b8ea8;
    color: #ffffff;
}

th, td {
    padding: 14px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background: #f7f7f7;
}
